extends ./account 

block account
    .tab-bar
        p Please Sign-in
    .signin-div
        form.flex-column(action="/account/signin", method="post")
            .form-group.flex-column
                label(for="user-input") User
                input#user.text-input(type="text", name="user")
            .form-group.flex-column
                label(for="password-input") Password
                input#password-input.text-input(type="password" name="password")
            button(type="submit") Sign In

