extend layout

block content
    h2 Hello
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil totam ab optio maxime itaque voluptatem ullam nostrum nam placeat dolore expedita pariatur nemo quidem delectus, deserunt natus quam reprehenderit, quisquam laborum eveniet! Nostrum quaerat delectus officiis rem ex libero id ipsum officia iste labore laborum deleniti ab maiores sequi est, illum perferendis omnis modi. Suscipit voluptatibus consequatur modi voluptas possimus?