<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="/styles/style.css")
        block head
    body.flex-column
        .container
            header#header
                .logo
                    h1 Hello World
                    img(src="", alt="")
                .nav-section
                    ul.nav-list
                        li
                            a(href="/") Home
                        li
                            a(href="/anime") Shows
                        li
                            a(href="/account") Account
                        li
                            a(href="/about-us") About Us
            section.pane

                .content
                    block content

                .sidebar
                    ul
                        li hello
                        li hi there
                        li stuff

            footer#footer
                p footer