.show-item {
    background-color: lightblue;
    padding: 5px 20px;
    margin: 3px;
    transition: background-color 250ms;
}

.show-item:first-child {
    margin-top: 40px;
}

.show-item:hover {
    background-color: rgb(235, 235, 235);
}

.show-item a {
    text-decoration: none;
    color: inherit;
}

.show-info-bar {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.show-desc  p {
    padding: 0 20px;
}

.show-info-bar li {
    list-style-type: none;
    padding: 5px 20px;
}